h1,h2,h3,h4,h5,h6, p{
   font-family: 'Permanent Marker', cursive;
}
.container1{
    height:100%;
    width:100%;
}
.galleries{
    height:70%;
        width:100%;
    background-color: green;
}
body{
  height:100%;
    width:100%;
    font-family: 'Permanent+Marker' ;
}
.landing{
    height:100%;
    width:100%;
    background-color: white;
    background-image: url(../images/landing1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about{
    height:50%;
    width:100%;
    background-color: white;

}
.services{
    height:117%;
    width:100%;
    background-color: white;
}
.footer{
    height:30%;
    width:100%;
    background-color: yellow;
}
